<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toughts</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div>
            <img class="navImg" src="/images/light-bulb.svg" alt="💡">
        </div>
        <div class="navRoutes">
            <a href="/toughts"><p>Pensamentos&nbsp;&nbsp;&nbsp;</p></a>
            <a href="/signin"><p>&nbsp;Entrar&nbsp;&nbsp;&nbsp;</p></a>
            <a href="/signup"><p>&nbsp;Registrar</p></a>
        </div>
    </nav>
    <section class="homeContent">
    {{{body}}}
    </section>
    <footer class="footer">
        <p><span>Toughts </span>© 2025</p>
    </footer>

</body>

</html>