<div class="signLogPage">
    <div>
        <div class="errorMessage"></div>
        <form action="/create/new" method="POST">
            <h1>&nbsp;Deixe aqui um pensamento:</h1>
            <input type="hidden" name="id" value="7">
            <div>
                <textarea class="newTextArea" name="thought" id="thought"
                    placeholder="Digite seu pensamento aqui"></textarea>
            </div>
            <button class="standardBtn" type="submit">Enviar</button>
        </form>
    </div>
</div>