<div class="homePage">
    <h1>Conheça alguns dos nossos <span>Pensamentos</span>:</h1>
    <form class="homeForm" action="" method="">
        <div class="searchBar">
            <input type="text" name="toughtsQuery" placeholder="Está buscando algo?">
            <button type="submit">Buscar</button>
        </div>

        <div class="orderBar">
            <b>Ordenar por:</b>
            <p><span>↓</span> Mais novos</p>
            <p><span>↑</span> Mais antigos</p>
            <a href="">Limpar</a>
        </div>
    </form>

    <div class="homeThoughts">
        {{!-- {{#each}} --}}
        <div>
            <p class="tought">"Ipsum Lorem"</p>
            <p>por <span>ipsum@lorem.com</span></p>
        </div>
        {{!-- {{/each}} --}}
    </div>
</div>