<div class="homePage">
    <h1>Conheça alguns dos nossos <span>Pensamentos</span>:</h1>
    <form class="homeForm" action="" method="">
        <div class="searchBar">
            <input type="text" name="thoughtsQuery" placeholder="Está buscando algo?">
            <button class="standardBtn" type="submit">Buscar</button>
        </div>

        <div class="orderBar">
            <b>Ordenar por:</b>
            <p><span>↓</span> Mais novos</p>
            <p><span>↑</span> Mais antigos</p>
            <a href="">Limpar</a>
        </div>
    </form>

    <div class="homeThoughts">
        {{#each allThoughts}}
        <div>
            <p class="thought">{{this.thought}}</p>
            <p>por <span>{{this.email}}</span></p> 
        </div>
        {{/each}}
    </div>
</div>